.pagina-buscador {
    text-align: center;
    background-color: lightblue;
    border: solid 1px;
    border-top: 0px;
    border-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    
  }

.pagina-buscador-logo {
    text-align: left;
    background-color: lightblue;
    border: solid 1px;
}

.pagina-buscador-lista {
  text-align: left;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  background-color: lightblue;
}

.pagina-buscador-footer {
  text-align: center;
  background-color: lightblue;
  border: solid 1px;
  height: 40px;
  padding-top: 0px;
  padding-bottom: 10px;


}

